In [ ]:
#Q1. Create one variable containing following type of data:

In [1]:
a = "Avash"

In [2]:
type(a)

str

In [3]:
l = [1,2,3,"Avash",24.32,False]

In [4]:
type(l)

list

In [5]:
b = 56.87

In [6]:
type(b)

float

In [7]:
t=(2,3,4,False,45.64)

In [8]:
type(t)

tuple

In [ ]:
#Q2. What will be the data type of the above given variable:

In [9]:
var1 = ' '

In [10]:
type(var1)

str

In [11]:
var2 = '[ DS , ML , Python]'

In [12]:
type(var2)

str

In [13]:
var3 = ['DS' , 'ML' , 'Python']

In [14]:
type(var3)

list

In [15]:
var4 = 1.

In [16]:
type(var4)

float

In [ ]:
#Q3. Explain the use of the following operators using an example:

In [17]:
10/2

5.0

In [18]:
10%2

0

In [20]:
10**2

100

In [19]:
10//2

5

In [ ]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [21]:
abc = [10,20,30,40,True,23.43,4+5j,'Avash',False,"Panda"]
for i in abc:
    print(i)
    print(type(i))

10
<class 'int'>
20
<class 'int'>
30
<class 'int'>
40
<class 'int'>
True
<class 'bool'>
23.43
<class 'float'>
(4+5j)
<class 'complex'>
Avash
<class 'str'>
False
<class 'bool'>
Panda
<class 'str'>

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [7]:
A = int(input())
B = int(input())
while A%B==0:
    print("A is divisible by B")
    A = A//B
else:
    print("A is not divisible by B")

 80
 4

A is divisible by B
A is divisible by B
A is not divisible by B

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [10]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    print(i)
    if i%3==0:
        print("Above number is divisible by 3")   
else:
    print("Above number is not divisible by 3")

1
2
3
Above number is divisible by 3
4
5
6
Above number is divisible by 3
7
8
9
Above number is divisible by 3
10
11
12
Above number is divisible by 3
13
14
15
Above number is divisible by 3
16
17
18
Above number is divisible by 3
19
20
21
Above number is divisible by 3
22
23
24
Above number is divisible by 3
25
Above number is not divisible by 3

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [12]:
a = "Avash"

In [13]:
a[2]

'a'

In [15]:
a[2] = 'e'

TypeError: 'str' object does not support item assignment

In [16]:
# As string is immutable, so we can't replace element.

In [17]:
b = [1,2,3,"Avash",False, 3+5j,56.45]

In [18]:
b[3]

'Avash'

In [19]:
b[3] = "Panda"

In [20]:
b

[1, 2, 3, 'Panda', False, (3+5j), 56.45]

In [ ]:
# As list is mutable, so we can replace Panda with Avash.